/JSF31_w04_KochFractalFX-startup/JSF31KochFractalFX - startup/dist/
/JSF31_w04_KochFractalFX-startup/JSF31KochFractalFX_-_startup_Week8/nbproject/private/
/JSF31_w04_KochFractalFX-startup/JSF31KochFractalFX_-_startup_Week8/build/
/JSF31_w04_KochFractalFX-startup/JSF31KochFractalFX_-_startup_Week8/dist/
/JSF31_w04_KochFractalFX-startup/JSF31KochFractalFX_JavaFX_Task_w11/nbproject/private/
/JSF31_w04_KochFractalFX-startup/JSF31KochFractalFX_JavaFX_Task_w11/build/
/JSF31_w04_KochFractalFX-startup/JSF31KochFractalFX_JavaFX_Task_w11/dist/
/P6/week 1/klassenvoorbeeld/JSF32_w01_klasvoorbeeld_JavaFXTaskProgressBar/build/
/P6/week 1/klassenvoorbeeld/JSF32_w01_klasvoorbeeld_JavaFXTaskProgressBar/dist/
/JSF32_Week12_NoGUI/nbproject/private/
/JSF32_Week12_NoGUI/build/
/JSF32_Week12_NoGUI/dist/
/JSF32_Week12_GUI/nbproject/private/
/JSF32_Week12_GUI/dist/
/JSF32_Week12_GUI/build/
/JSF32_Week13_GUI/nbproject/private/
/JSF32_Week13_NoGUI/nbproject/private/
/JSF32_Week13_NoGUI/build/
/JSF32_Week13_NoGUI/dist/
/JSF32_Week13_GUI/build/
/JSF32_Week13_GUI/dist/
/JSF32_Week14_GUI/nbproject/private/
/JSF32_Week14_NoGUI/nbproject/private/
/JSF32_Week14_GUI/build/
/JSF32_Week14_NoGUI/build/
/JSF32_Week14_GUI/dist/
/JSF32_Week14_GUI_Locking/nbproject/private/
/JSF32_Week14_NoGUI_Locking/nbproject/private/
/JSF32_Week14_GUI_Locking/build/
/JSF32_Week14_NoGUI/dist/
/JSF32_Week14_GUI_Locking/dist/
/JSF32_Week14_NoGUI_Locking/build/
/JSF32_Week15_Sockets_GUI/nbproject/private/
/JSF32_Week15_Sockets_NoGUI/nbproject/private/
/JSF32_Week15_Sockets_NoGUI/build/