/JSF31_w04_KochFractalFX-startup/JSF31KochFractalFX - startup/dist/
/JSF31_w04_KochFractalFX-startup/JSF31KochFractalFX_-_startup_Week8/nbproject/private/
/JSF31_w04_KochFractalFX-startup/JSF31KochFractalFX_-_startup_Week8/build/
/JSF31_w04_KochFractalFX-startup/JSF31KochFractalFX_-_startup_Week8/dist/
/JSF31_w04_KochFractalFX-startup/JSF31KochFractalFX_JavaFX_Task_w11/nbproject/private/
/JSF31_w04_KochFractalFX-startup/JSF31KochFractalFX_JavaFX_Task_w11/build/
/JSF31_w04_KochFractalFX-startup/JSF31KochFractalFX_JavaFX_Task_w11/dist/
/P6/week 1/klassenvoorbeeld/JSF32_w01_klasvoorbeeld_JavaFXTaskProgressBar/build/
/P6/week 1/klassenvoorbeeld/JSF32_w01_klasvoorbeeld_JavaFXTaskProgressBar/dist/
/JSF32_Week12_NoGUI/nbproject/private/
/JSF32_Week12_NoGUI/build/